{% extends 'layout.html' %}
{%block maio%}
<h1>{{title}}</h1>
<div class="beats">
    {%for beat in page_objects%}
        <div class="beat">
            {% if beat.album.cover %}
                <img src="{{beat.album.cover.url}}"alt="">
            {%else%}
                <img src="{{artist.image.url}}"alt="">
            {%endif%}
            <h2>{{beat.name}}</h2>
            <audio controls crossorigin="anonymous">
                <source src=" {% if beat.audio %} {{ beat.audio.url }} {% endif %}" type="audio/mpeg">
            </audio>
        </div>
    {%endfor%}
</div>
{%endblock%}